{% extends 'base_generic.html' %}
{% block title %}О компании{% endblock %}
{% block content %}


        <main>
            <section class="contacts">
                <div class="container">
                    <div class="contacts-info">
                        <div class="contacts-num">
                            <h2 class="contacts-title">Контакты</h2>
                            <p class="contacts-text">+7(499)686-05-91</p>
                            <p class="contacts-text">Email: info@nikifilini.com</p>
                        </div>
                        <div class="contacts-adress">
                            <h2 class="contacts-title">Адрес</h2>
                            <p class="contacts-text">г. Москва, ул. Большая Семеновская 49</p>
                        </div>
                    </div>
                    <h2 class="contacts-title">Поделитесь мнением</h2>
                    <form action="#" class="form">
                        <input type="text" class="form-input" placeholder="Имя">
                        <input type="email" class="form-input" placeholder="Почта">
                        <textarea class="form-textarea" placeholder="Комментарий"></textarea>
                        <button class="form-btn" type="submit">Отправить</button>
                    </form>
                </div>
            </section>
        </main>

        
    </div>
</body>
</html>

{% endblock %}